.sidebar {
  position: fixed;
  top: 62px;
  left: -70px;
  width: 70px;
  height: 100%;
  transition: all 0.5s;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  z-index: 1000;
  /* background-color: #273849; */
  background-color: #ffffff;
  overflow-y: auto;
}
.sidebar.active {
  left: 0;
}
.b-col {
  padding: 10px;
}
.b-link {
  width: 45px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.link {
  text-decoration: none !important;
  margin: 10px 0;
}
.link.active .icon-menu {
  /* background-color: #00bfa6; */
  color: #00bfa6;
}
.b-link:hover .icon-menu {
  color: #00bfa6;
}
.icon-menu {
  color: #273849;
  font-size: 16px;
}
/* .sidebar-desactive {
  position: fixed;
  top: 62px;

  width: 300px;
  height: 100%;
  transition: all 0.5s;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  z-index: 1000;
  background-color: #ffffff;
} */
